.Row {
  margin-top: 50px;  
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  
  
}
.Row p {
  padding: 10px;
  text-align: center;
}
.Row-posters {
    /* display: flex; */
    display: inline-block;
    overflow-y: hidden;
    overflow-x: scroll;
    /* padding: 20px; */
    object-fit: contain;
    width: inherit;
    max-height: 300px;
    /* margin: 10px; */
    transition: transform 450ms;
    /* margin-top: 500px;  
    margin-left: 500px; */

}
.Row-posters-image {
  width: 300px;
  height: 200px;
  align-items: center;
}